
body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

#title {
    background-color: #781c2e;
    color: whitesmoke;
    text-align: center;
    border-color: black;
    border-style: solid;
    padding: 18px;
}

.subTitle {
    background-color: whitesmoke;
    color: #781c2e;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

.rules {
    background-color: #FFD700;
    color: #781c2e;
    border-color: black;
    border-style: solid;
    padding: 18px;
    text-align: justify;
}

.targetScore {
    background-color: whitesmoke;
    color: #781c2e;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

.winsLosses {
    background-color: whitesmoke;
    color: #781c2e;
    border-color: black;
    border-style: solid;
    padding: 10px;
}
.yourScore {
    background-color: whitesmoke;
    color: #781c2e;
    border-color: #781c2e;
    border-color: black;
    border-style: solid;
    padding: 10px;
}
